.navbar {
    background-color: darkblue;
    color:  white;
}

.nav-item{
    color:white;
}

.navbar-dark .navbar-nav .active>.nav-link{
    text-decoration: overline underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
 }

 #navbarSupportedContent {
    align-content: right;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
}

.carousel-caption {
    font-weight: bold;
}


